@{
    ViewData["Title"] = "Home Page";
}

<div class="containor">
    <div class="rectangle" style=" width: auto; margin-top: 150px; background-color: white; opacity: 90%; min-height: 600px; min-width: 900px">
        <div class="block" style="width: 100%">
            <form asp-action="About" method="post">
                <div class="row">
                    <h1 class="display-4" style="margin-bottom: 25px">What is HoursForYou?</h1>
                </div>
                <div class="row">
                    <p>@TempData["Username"]</p>
                </div>
            </form>
        </div>
    </div>
</div>